[Unit]
Description=Communication service to get data from PLCs

[Service]
ExecStart=/home/x-board/installer/commservice.sh
TimeoutSec=30
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
